@import '../estilos/colores.component';

.boton {
  background-color: $color-letras-secundario;
  border-color: $color-letras-secundario;
  border: 3px solid $color-letras-secundario;
  border-radius: 0.43rem;
  color: white;
  min-width: 7rem;
  float: right;

}

.boton [disabled] {
  background-color: $color-letras-principal;
  border-color: $color-letras-principal;
  border: 3px solid $color-letras-principal;

}

.boton :hover {
   cursor: pointer;
}
