<form (ngSubmit)="guardar()" #clienteForm="ngForm">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input [(ngModel)]="model.nombre" #nombre="ngModel"
           type="text" class="form-control" id="nombre" name="nombre" required>
    <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">
      Nombre es obligatorio
    </div>
  </div>
  <div class="form-group">
    <label for="apellido">Apellido</label>
    <input [(ngModel)]="model.apellido" #apellido="ngModel"
           type="text" class="form-control" id="apellido" name="apellido" required>
    <div [hidden]="apellido.valid || apellido.pristine" class="alert alert-danger">
      Apellido es obligatorio
    </div>
  </div>
  <button [disabled]="!clienteForm.form.valid" type="submit" class="boton">
    Guardar
  </button>
</form>
